Makefile.cpu
Makefile.gpu
Makefile.local
Makefile.conf
options
docs
build
dist
nbproject
GPUSPH*
tests
TAGS
*.kdev4
.kdev*
TODO*
.DS_Store
.*.swp
~
*~
.project
.cproject
html
latex
Manual
cscope*
other/
mpitests/
.project
.cproject
.settings/
deviceQuery
seewaves/
*.csv
profiling/
scripts/list-cuda-cc
meshes/
*.vim
scripts/
inifile/
*.vtk
sa/

