Makefile.cpu
Makefile.gpu
Makefile.local
Makefile.conf
options
docs/*.html
docs/dev-guide/html
docs/user-guide/*pdf
docs/user-guide/src/*bbl
docs/user-guide/src/*aux
docs/user-guide/src/*blg
docs/user-guide/src/*out
docs/user-guide/src/*log
docs/user-guide/src/*toc
build
dep
info
dist
nbproject
GPUSPH*
tests
TAGS
cscope.out
*.kdev4
.kdev*
TODO*
.DS_Store
.*.swp
~
*~
.project
.cproject
html
latex
Manual
cscope*
other/
mpitests/
.project
.cproject
.settings/
deviceQuery
seewaves/
*.csv
profiling/
scripts/list-cuda-cc
scripts/
*.h5sph
*.vtk
data_files
*.vim
inifile/
sa/
log*

src/problems/user

src/parse-debugflags.h
src/describe-debugflags.h

.nfs*

AccuracyTest
AiryWaves
AntociGate
BiFluidPoiseuilleDYN
BiFluidPoiseuilleSA
Bubble
BuoyancyTest
ChannelIO
CompleteSaExample
DamBreak2D
DamBreak3D
DamBreak3DFEA
DamBreakGate
DamBreakMobileBed
DEMExample
DynBoundsExample
FlowCylinder2D
FullPlatform
LidDrivenCavity2D
LithostaticDYN
LithostaticLJ
LithostaticSA
LockExchange
Objects
OffshorePile
OilJet
OpenChannel
Platform
Poiseuille
PoiseuillePapanastasiou
ProblemExample
RTInstability
RTInstability2D
Seiche
SingleLegPlatform
SlidingWedge
SolitaryWave
Spheric2LJ
Spheric2SA
StandingWave
StandingWave2D
StillWater
StillWaterRepackSA
StillWaterSA
TestFea
TestFeaPile
TurbulentPoiseuilleFlowSA
WaveTank
WaveTank2D
