Makefile.cpu
Makefile.gpu
Makefile.local
Makefile.conf
options
docs/dev-guide/html
docs/user-guide/*pdf
docs/user-guide/src/*bbl
docs/user-guide/src/*aux
docs/user-guide/src/*blg
docs/user-guide/src/*out
docs/user-guide/src/*log
docs/user-guide/src/*toc
build
dep
info
dist
nbproject
GPUSPH*
tests
TAGS
cscope.out
*.kdev4
.kdev*
TODO*
.DS_Store
.*.swp
~
*~
.project
.cproject
html
latex
Manual
cscope*
other/
mpitests/
.project
.cproject
.settings/
deviceQuery
seewaves/
*.csv
profiling/
scripts/list-cuda-cc
scripts/
*.h5sph
*.vtk
data_files
*.vim
inifile/
sa/
log*

src/problems/user

src/parse-debugflags.h
src/describe-debugflags.h

.nfs*

AccuracyTest
BiFluidPoiseuilleDYN
BiFluidPoiseuilleSA
Bubble
BuoyancyTest
ChannelIO
CompleteSaExample
DamBreak3D
DamBreakGate
DamBreakMobileBed
DEMExample
DynBoundsExample
GenericProblem
LithostaticDYN
LithostaticLJ
LithostaticSA
LockExchange
Objects
OffshorePile
OilJet
OpenChannel
Poiseuille
PoiseuillePapanastasiou
ProblemExample
RTInstability
Seiche
SlidingWedge
SolitaryWave
Spheric2LJ
Spheric2SA
StillWater
StillWaterRepackSA
StillWaterSA
TurbulentPoiseuilleFlowSA
WaveTank
